.botonesPri{
    padding: 3% 0% 3% 0%; display: flex; justify-content: center;
    .botonesPri__cda{
        width: 24%; margin-left: 3.5%; margin-right: 3.5%; background-color:rgb(255 253 245);
        font-family: "subtitulos"; border-color: bisque; border-radius: 20px;
    }
}